.err_msg {
    color: #f50;
    padding-left: 20px;
}

.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.page-content{
    padding: 45px 5px;
}